<h1>Settings</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: {action: 'edit_address_complete'}) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :address %>
      <%= f.text_field :address ,class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
